body 
{
    background-color: #dbeeec;
    max-width: 80rem;
    margin: auto;
}

.lato-regular{
    font-family: "Lato", sans-serif;
    font-weight:400;
    font-style:normal;
}

#root{
    width: 100%;
    margin-top:50%;
    transform: translateY(-50%);
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #a31b1b;
}

#loginDiv, #loggedInDiv,  #registerDiv 
{
    font-size: 30px;
    width: 25%;
    margin:auto;
    padding: 25px;
    background-color: #e5edf3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#accessUIDiv
{
    font-size: 30px;
    width: 35%;
    margin:auto;
    padding: 25px;
    background-color: #e5edf3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons 
{
    font-size: 24px;
    border-radius: 24px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #0045a0;
    color: white;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.buttons:hover 
{
    background-color: #002f6c;
}

input[type="text"], input[type="password"] 
{
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #b0bec5;
    border-color: #ffffff;
    text-align: left;
    width:95%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    transition: border-color 0.3s ease;
}

#inner-title 
{
    display: block;
    font-size: 1em;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #3e2723;
}

#no-account{
    display: inline-block;
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: #646c70
}

#no-account-signup{
    display: inline;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    font-family: 'Ubuntu', sans-serif;
    color: #0045a0;
    font-weight: bold;
    text-decoration: none;
}

#no-account-signup:hover{
    color: #002f6c;
    text-decoration: underline;
}

#loginResult, #registerResult, #contactAddResult, #contactSearchResult 
{
    display: block;
    font-size: 0.5em;
    width: 100%;
    min-height: 18px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #ff0000;
}

#userName 
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #01579b;
    font-size: 20px;
}

#logoutButton 
{
    width: 20%;
    margin-left: 40%;
}

select 
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#contactSearchResult 
{
    display: block;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #3a0505;
}

#contactAddResult 
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}